<section class="scroll-block">
    <div class="mbox">
        <div class="scroll-buttons">
            <div class="scroll-buttons-left">
                <div class="scroll-title">
                    ЧЕРНЫЙ СПИСОК АВТОСОЛОНОВ
                </div>
                <div class="scroll-buttns">
                    <ul>
                        <li>
                            <a href="" download id="download">
                                <span class="icon icon-1"></span>
                            </a>
                        </li>
                        <li>
                            <a href="6146013.pdf" class="icon-print">
                                <span class="icon icon-2"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="scroll-buttons-right">
                <a href="#call-popup" class="fancybox-form">
                    <b>Добавить автосалон</b>
                    <span></span>
                </a>
            </div>
        </div>
        <div class="scroll-wrap">
            <div class="scroll-main horizontal-only">
                <div class="scroll-content">

                    <div class="scroll-item">
                        <div class="scroll-top">ооо «Драйв моторс»</div>
                        <div class="scroll-text">ИНН / КПП 1554403698719650000 Юридический адрес: г. Москва, ул. Дубнинская, д.52</div>
                        <div class="scroll-links">
                            <p>
                                <a href="#">www.drivemotors.ru</a>
                            </p>
                        </div>
                    </div>

                    <div class="scroll-item">
                        <div class="scroll-top">ооо «Драйв23»</div>
                        <div class="scroll-text">ИНН / КПП 155440348962550000 Юридический адрес: г. Москва, ул. Дубнинская, д.52Фактический адрес: г. Москва, ул. Южнопортовая, д.22. </div>
                        <div class="scroll-no-links">нет сайта</div>
                    </div>

                    <div class="scroll-item">
                        <div class="scroll-top">ооо «Драйв моторс»</div>
                        <div class="scroll-text">ИНН / КПП 1554403698719650000 Юридический адрес: г. Москва, ул. Дубнинская, д.52</div>
                        <div class="scroll-links">
                            <p>
                                <a href="#">www.drivemotors.ru</a>
                            </p>
                            <p>
                                <a href="#">www.autoparts48.ru</a>
                            </p>
                        </div>
                    </div>

                    <div class="scroll-item">
                        <div class="scroll-top">ооо «Auto tester»</div>
                        <div class="scroll-text">ИНН / КПП 1554403698719650000 Юридический адрес: г. Москва, ул. Дубнинская, д.52</div>
                        <div class="scroll-no-links">нет сайта</div>
                    </div>

                    <div class="scroll-item">
                        <div class="scroll-top">ооо «Auto tester»</div>
                        <div class="scroll-text">ИНН / КПП 1554403698719650000 Юридический адрес: г. Москва, ул. Дубнинская, д.52</div>
                        <div class="scroll-no-links">нет сайта</div>
                    </div>

                    <div class="scroll-item">
                        <div class="scroll-top">ооо «Auto tester»</div>
                        <div class="scroll-text">ИНН / КПП 1554403698719650000 Юридический адрес: г. Москва, ул. Дубнинская, д.52</div>
                        <div class="scroll-no-links">нет сайта</div>
                    </div>

                    <div class="scroll-item">
                        <div class="scroll-top">ооо «Auto tester»</div>
                        <div class="scroll-text">ИНН / КПП 1554403698719650000 Юридический адрес: г. Москва, ул. Дубнинская, д.52</div>
                        <div class="scroll-no-links">нет сайта</div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>